.head,
.eye,
.eyebrow,
.body,
.chest,
.container,
.abdomen {
  position: absolute;
}

.container {
  margin: auto;
  top: -40px;
  bottom: 0;
  left: -20px;
  right: 0;
  background: "#f3f3f3";
  width: "auto";
  height: "auto";
}

.head {
  /* height: 250px;
  width: 250px; */
  z-index: 1;
  left: 40px;
}

.eyebrow {
  /* top: 90px; */
  /* left: 40px; */
  width: 30px;
  transform: translate(-10px, -10px);
}

.eyebrow-right {
  width: 30px;
  transform: translate(-5px, -10px);
}

.eye {
  top: 100px;
  left: 55px;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background: #000;
  z-index: 2;
}

.eye-right {
  transform: translate(60px);
}

.body {
  top: 170px;
  height: 370px;
  width: 250px;
}
